*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin:100px auto 0px;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
    flex: 1;
}

.search button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

.error-message{
    color: red;
    margin-top: 10px;
    text-align: start;
    font-size: 15px;
    display: none;
}

.weather{
    display: none;
}
.weather .weather-icon{
    width: 150px;
    margin-top: 80px;
}

.weather h1{
    font-size: 50px;
    font-weight: 500;
}

.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.weather .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather .details .col{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.weather .details .col img{
    width: 30px;
    margin: 10px;
}

